/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'EB Garamond', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease;
}

/* GRID */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 121.6rem;
  padding: 0 1.5rem;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* ou a cor que você quiser manter fixa */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* opcional: deixa mais profissional */

  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header #right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#right ul {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

#right ul li a {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1D1F2C;
  display: inline-block;
  position: relative;
}

#right a:hover {
  color:#752A03;
  transition: 0.3s;
}

.icon-cesta-login {
  display: flex;
  gap: 24px;
  align-items: center;
}

/* INTRO */

.intro {
  width: 100%;
  background-color: #E4D6CB;
  padding-top: 160px;
  padding-bottom: 80px;
}

.intro .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  width: 100%;
  max-width: 592px;
}

.left h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 86px;
  color: #1D1F2C;
  margin-bottom: 32px;
}

.left span {
  color: #752A03;
}

.left p {
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #1D1F2C;
  max-width: 488px;
  margin-bottom: 40px;
}

.left button {
  padding: 20px 24px;
  gap: 4px;
  background-color: #752A03;
  border-radius: 2px;
  margin-bottom: 0;
  transition: 0.3s;
}

.left button a {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #E4D6CB;
}

.left button:hover {
  background-color: #5c2406;
  transition: 0.5s;
  color: #E4D6CB;
}

.left button a:hover {
  color: #E4D6CB;
}

.right-intro img {
  position: relative;
  display: block;
  max-width: 100%;
}

/* PRODUTOS */

.produtos {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.produtos h2 {
  font-weight: 700;
  font-size: 49px;
  line-height: 65px;
  color: #1D1F2C;
  margin-bottom: 32px;
  text-align: center;
}

.produtos p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1D1F2C;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 60px;
}

.card-produto {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.info h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #1D1F2C;
}

.info span {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #752A03;
}

.btn-carrinho {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 4px;
  border: 2px solid #E4D6CB;
  border-radius: 2px;
}

.btn-carrinho a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #752A03;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-carrinho:hover {
  background-color: #E4D6CB;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #E4D6CB;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-texto h4 {
  width: 384px;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #1D1F2C;
  margin-bottom: 32px;
}

.footer-texto span {
  color: #752A03;
}

.footer-texto p {
  width: 357px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1D1F2C;
}

.footer-contato {
  display: flex;
  flex-direction: column;
}

.footer-contato h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #1D1F2C;
  margin-bottom: 32px;
}

.footer-tel h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #752A03;
  margin-bottom: 12px;
}

.footer-tel p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1D1F2C;
  margin-bottom: 24px;
}

.footer-email h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #752A03;
  margin-bottom: 12px;
}

.footer-email p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1D1F2C;
  margin-bottom: 24px;
}

.footer-endereco h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #752A03;
  margin-bottom: 12px;
}

.footer-endereco p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1D1F2C;
  width: 280px;
}

.footer-redes h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #1D1F2C;
  margin-bottom: 32px;
}

.icon-redes {
  display: flex;
  gap: 16px;
}

/* Copy */

.copy {
  width: 100%;
  background-color: #752A03;
  padding-top: 40px;
  padding-bottom: 40px;
}

.copy .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #E4D6CB;
}

.copy span {
  font-weight: 500;
}

/* Responsivo */

/* 1024px */
@media (max-width: 1024px) {
  .container {
    padding: 0 2rem;
    max-width: 100%;
  }
  .right-intro {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .right-intro img {
    max-width: 100%;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .card-produto {
    max-width: 100%;
  }
  .card-produto img {
    max-width: 100%;
  }
  
}

/* 768px */
@media (max-width: 768px) {
  .right-intro img {
    display: none;
  }
  .intro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    text-align: center;
  }
  .footer-texto h4,
  .footer-texto p,
  .footer-endereco p {
    width: 100%;
    max-width: 600px;
  }

  .footer-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .copy .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .icon-redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;

  }
}

/* 480px */
/* Esconde o botão no desktop */
.btn-menu-mobile {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* Estilo mobile */
@media (max-width: 480px) {
  .btn-menu-mobile {
    display: block;
    position: static;
    cursor: pointer;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 10;
  }

  #right {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 2rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center;
    text-align: center;
  }

  #right.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  #right ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .menu-actions {
    display: flex;
    align-items: center;
    gap: 1rem; /* Aproxima o ícone da sacola e o hamburguer */
  }

  .icon-cesta-login {
    display: flex;
    gap: 1rem;
  }

  .icon-cesta-login a img {
    width: 20px;
  }

  .container {
    padding: 0 1rem;
  }


  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .intro {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }

  .intro .container {
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .left h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    max-width: 100%;
  }

  .left p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 100%;
  }

  .produtos {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .produtos h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #1D1F2C;
    margin-bottom: 24px;
    text-align: center;
  }

  .produtos p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 100%;
  }

  .btn-carrinho {
    width: 100%;
    padding: 1rem;
  }

  .card-container {
    grid-template-columns: 1fr; /* Cards em uma coluna só */
    gap: 3.2rem;
  }

  .info {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer .container {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .footer-texto h4 {
    font-size: 2.8rem;
    max-width: 100%;
    margin-bottom: 1.6rem;
  }

  .footer-texto p,
  .footer-endereco p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .footer-contato h5 {
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  .footer-contato h4 {
    margin-bottom: 2.4rem;
    margin-top: 2rem;
  }

  .footer-redes h4 {
    margin-top: 2rem;
    margin-bottom: 1.6rem;
  }

  .icon-redes {
    gap: 0.5rem;
  }

  .copy {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .copy .container {
    gap: 0.5rem;
    padding: 1rem 0;
  }

}







